  .footer{
    display: block;
    padding: 60px 0 30px 0;
    background: none;
}
.footer-left{
    margin: 20px 0;
    .footer-logo{
        width: 120px;
    }
    h6{
        margin:  10px 0;
        font-size: 13px;
    }
}

.footer-sub-menu{
    margin: 15px 0;
    ul{
        li{
            display: block;
            a{
                margin: 8px 0;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}