.section-title{
    h2{
        font-size: $heading--font-size-h2;
        text-align: center;
        margin: 65px 0;
        span{
            color: #255BF7;
        }
    }
}
.section-title2{
    h2{
        font-size: $heading--font-size-h3;
        
        margin: 35px 0;
        span{
            color: #000;
        }
    }
}

hr{
    background: #000;
}