
// All-body-styling
$body-font-family:'Quicksand', sans-serif;
$body-font-size: 14px;
$body-font-weight: 400;
$body-line-hieght:  22px;


// Heading--propertis 

$heading-font-family: 'Quicksand', sans-serif;

$heading--font-weight:  700;
$heading--font-color:  #373737;
$heading--font-color-inner: #255BF7;

$heading--font-gradinet:linear-gradient(270deg, #77E447 10.86%, #0075FF 95.59%);



$heading--font-size-h2:28px;

$heading--font-size-h3:22px;
$heading--font-size-h4:18px;
$heading--font-size-h5:13px;
$heading--font-size-h6:12px;



// Paragrap--propertis 
$font-weight-300: 300;
$paragrap-font-size-small: 12px;
$paragrap-font-size: 14px;
$paragrap-font-size2: 16px;
$paragrap-font-size3: 18px;
$paragrap-font-weight: 400;
$paragrap-font-color: #000;
$paragrap-lineHeight: 1.5;
// Button--propertis 
$button-radious:0px;
$button-border:none;
$button-color: #000;
$button-bg-color: #fff;
$button-font-size:16px;
$button-weight:500;
$button-padding-01: 10px 10px;
$button-padding-02: 14px 55px;
$button-text-transfram: normal;
$button-gradient:  0px 0px 14px 1px #42FF00;
$button-transform:  matrix(-1, 0, 0, 1, 0, 0);



$fw-samll: 300;
$fw-Regular: 400;
$fw-samibold:500;
$fw-xsamibold:600;
$fw-bold:800;
$fw-extrabold:900;
$fs-small:14px;
$fs-small-middum:13px;
$fs-middum:14px;
$fs-sami-Big:22px;
$fs-big:24px;


$black:#000;
$white:#fff;

$theme-color : #EA5B0C;
$theme-black-bg :  #033305;
$theme-blue-bg : #008cd4;
